@media (max-width:1024px){
    .container{
        width: 900px;
    }

    .catalog_item_title{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .catalog_item_img {
        height: 220px;
        
       
     }
    .catalog_item_img img{
      
        max-width: 200px;
    }
    .catalog_item_options {
        width: 250px;
    }
    .cart_item_pay_info{
        flex-direction: column;
        text-align: center;
    }
    .cart_item_count{
        margin-bottom: 10px;
    }
    .about_wrapper_items_right img{
        width: 300px;

    }
    .about_item_title{
        text-align: center;
    }
    .about_wrapper{
        flex-direction: column-reverse;
    }
    .about_wrapper_items_right{
        flex-direction: row;
        justify-content: space-around;
    }
    .about_img{
        display: flex;
        flex-direction: column;
    }
    .home_sale_link img{
        width: 250px;
        height: auto;
    }
}

@media (max-width:768px){
    .container{
        width: 718px;
    }
    .nav_item a{
        text-align: center;
    }
    .catalog_item_options {
        width: 100%;
        flex-direction: column;
    }
    .catalog_item_options_price{
        margin-bottom: 10px;
    }
    .cart_item_btn{
        margin-right: 10px;
    }
    .nav_items{
        /* display: none; */
        flex-direction: column;
        padding-top: 70px;
        position: fixed;
        right:-100%;
        z-index: 1;
        top:0;
        height: 100%;  
        background-color: hsla(204, 25%, 16%, 0.9);   
    }
    .btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .nav_items.active_nav_items{  
        right: 0;       
        
    }

    .active_burger_menu .line{
        background-color: transparent;
    }

    .active_burger_menu .line::after,
    .active_burger_menu .line::before{
        top:0;
    }
    .active_burger_menu .line::after{
        transform: rotate(-45deg);
    }
    .active_burger_menu .line::before{
        transform: rotate(45deg);
    }

    .nav_item a{
        color: #fff;
        text-align: center;
        margin: 0 auto;
        width: 150px;
    }
    .nav_item a:hover{
        color: #fff;
        background-color: rgb(50, 117, 188);
    }
    .contacts_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .home_section_title{
        font-size: 25px;
    }
    .sale_wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


@media (max-width:426px){
    .container{
        width: 405px;
    }
   
    .catalog_item_title{
        height: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .catalog_item_options_price{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .product_title{
        font-size: 25px;
    }

    .product_option{
        flex-direction: column;
    }

    .product_price{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .cart_product{
        flex-direction: column-reverse;
    }
    .cart_item_wrapper{
        flex-direction: column;
    }
    .cart_item_image{
        height: auto;
    }
    .cart_item_image img{
        width: 150px;
        height: auto;
    }
    .cart_index{
        margin: 0 10px;
    }
    .cart_item_title{
        text-align: center;
        margin-top:15px;
        width: 95%;
        margin-right: 0;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    .cart_item_pay_info{
        flex-direction: row;
      width: 100%;
    }
    .cart_item_btn{
        width: auto;
        margin-left: auto;
    }
    .about_wrapper_items_right{
        flex-direction: column;
        align-items: center;
    }
    .footer_wrapper{
        flex-direction: column;
    }
    .footer_info{
        margin-top: 15px;
    }
    .footer_info a{
        display: block;
        margin-bottom: 7px;
        text-align: center;
    }
    .product_img{
        width: 340px;
        height: auto;
    }
}

@media (max-width:376px){
    .container{
        width: 350px;
    }
    .cart_footer{
        flex-direction: column-reverse;
    }
    .cart_full_price{
        text-align: center;
        margin-bottom: 25px;
        padding-right: 0;
    }
}

@media (max-width:321px){
    .container{
        width: 300px;
    }
    .product_title{
        width: auto;

    }
    .product_img{
        width: 300px;
        height: auto;
    }
}